.container {
  min-height: 90vh;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 8rem;
  font-size: 2.4rem;
  text-align: center;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.projectsContainer {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 60rem;
}

@media (max-width: 1150px) {
  .projectsContainer {
    width: 95%;
  }
}

@media (max-width: 800px) {
  .projectsContainer {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .projectsContainer {
    width: 95%;
  }
}
